body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image:url(Imagens/TI.jpg);
    background-repeat:no-repeat;
    background-size:100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Minhas Alterações*/
.form{
    border:2px solid rgb(70,130,180);
    border-radius:10px;
    font-weight:bold;
    color:#060d62;
    font-size:14pt;
}
.form legend {
    color:#060d62;
}
.form h3 {
    color:#9b2480;
    font-weight:bold;
}
