@model Gesprog.Models.HORARIOS
@*{{HorariosSelecionados}}
<h3>What's the best time to work for you? / Pra você qual é o melhor horário para trabalhar? *</h3>
<div ng-repeat="item in ListHorarios">
    <input class="col-md-1" id="{{item.ID_HR}}" type="checkbox" ng-model="HorariosSelecionados" name="HorariosSelecionados" value="{{item.ID_HR}}" ng-checked="selection.indexOf(item.ID_HR) > -1" ng-click="toggleSelection(item)" />
    <label class="col-md-11">{{item.DESC_HR}}</label>
</div>*@

<div>
    <h3>What's the best time to work for you? / Pra você qual é o melhor horário para trabalhar? *</h3>
    @for (int i = 0; i < Model.ListaDeHorarios.Count; i++)
    {
        @Html.CheckBoxFor(h => h.ListaDeHorarios[i].Checked, new { @class = "col-md-1" })
        @Html.LabelFor(h=> h.ListaDeHorarios[i].DESC_HR, Model.ListaDeHorarios[i].DESC_HR, new { @class = "label-control col-md-11" })
        @Html.HiddenFor(x => x.ListaDeHorarios[i].DESC_HR)
        @Html.HiddenFor(x => x.ListaDeHorarios[i].ID_HR)
    }
</div>